*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* PHẦN THÂN */
header{
    font-family: 'Times New Roman', Times, serif;
}
.header{
    position: relative;
}
.trangchinh{
    position: fixed;
    display: flex;
    justify-content: space-around;
    top: 0;
    right: 0;
    left: 0;
    background-color:white;
    z-index: 1000000;
}
.menuheader{
   display: flex;
   align-items: center;
   justify-content: space-between;

}
.picture_d{
    width: 150px;
    height: 60px;
}       
.nav{
    display: flex;
    justify-content: space-between;
    list-style: none;
    
}
.nav >li{
    display: inline-block;
    position: relative;
}
.nav li a{
    padding: 0 25px;
    text-decoration: none;
    color: black ;
    font-size: 18px;
}
.nav>li:hover >a{
    color: #1a73e8;
}
.nav li:hover .level{
    display: block; 
}

.nav .level{
    display: none;
    top: 21px;
    right: 30px;
    position: absolute;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    text-align: center; 
}
.nav .level li:hover a{
    color:#1a73e8;
    background-color: aliceblue;
}
.level li{
    padding: 15px 0; 
}  
.element_trangchu a{
   color: #1a73e8 !important
}
.level{
    list-style: none;
    background-color: white;
    border-radius: 10px;
}

 /* Phần search   */

.search-box{
    display: flex;
    align-self: center;
    font-size: 20px;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
    background-color: #6da6f1  ;
    justify-content: space-between;
}
.search-box:hover>.search-text{
    width: 240px;
    padding: 0 6px;
}
.search-text{
    border: none;
    background: none;
    float: left;
    line-height: 20px;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    width: 0;
    transition: 0.4s;
}
.search-btn{
    color: black;
    border-radius: 50%;
    display: inline-block;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    font-size: 20px;
}
.search-box:hover>.search-btn{
    background: white;
    color: rgb(203, 120, 120);
}
/* PHẦN THÂN */
.introduce{
    padding-top: 20%;
    position: relative
    ;
    background-image: linear-gradient(0,rgba(76, 73, 73, 0.8),rgba(76, 73, 73, 0.8),rgba(61, 58, 58, 0.8)),
    url(https://cdn.pixabay.com/photo/2017/06/05/20/10/house-2375119_960_720.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
}

.introduce_chinh{
    position: absolute;
    top: 50%;
    left: 15%;
    font-size: 35px;
    text-decoration: none;
    text-align: center;
}
.chiatrang{
    width: 1400px;
    margin: auto;
    display: flex;
}
.trang_1{
    margin-left: 50px;
    width: 270px;
    margin-top: 30px;
    position: relative;

}
.imgnho{
    height: 500px;  
}
.blog_list{
    border-bottom: 1px solid rgba(rgb(33, 31, 31), 0.5);
    text-decoration: none;
    color: black;
}
h3{
    animation:mau 1s ease-in infinite;
}
@keyframes mau{
    form{
        color:rgb(110, 100, 100);
    }
    to{
        color: cornflowerblue;
    }
}
.blog_list11{
    text-decoration: none;
    color: black;
}
.blog-item-1{
    display: flex;
}
.blog-item-2{
    display: flex;
}
.conten{
    margin-top: 20px;
    margin-left: 20px;
}
.conten11{
    margin-top: 20px;
    margin-left: 20px;
    
}


.img{
    background-image: url("https://tranduyvilla.com/wp-content/uploads/2019/01/z2131376324994_371031d758c843c79cda0ea75b19f223.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 60px;
}
.img11{
    background-image: url("https://datthu.vn/wp-content/uploads/2021/05/mau-nha-1-tang-3-phong-ngu-thumb.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 60px;
}
.img12{
    background-image: url("https://nhadepsang.com.vn/images/2017/12/mau-thiet-ke-nha-1-tang-co-3-phong-ngu-cho-nha-moi-nam-2018-8.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 60px;
}
.img13{
    background-image: url("https://tranduyvilla.com/wp-content/uploads/2019/01/z2131376388190_cde9b7d70bdb4f59a55bcd1152e43959.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 60px;
}
.trang_2{
    margin-left: 30px;
    margin-top: 30px;
    margin-right: 40px;
}

.conten2{
    margin-top: 30px;
    margin-left: 20px;
    word-wrap: break-word;
    width: 100%;
    
}  
h5:hover{
    color: cornflowerblue;
    cursor: pointer;
} 
.p{
    margin-top: 10px;
    line-height: 25px;
}
.a{
    text-decoration: none;
    color: black;
  
}
.h2{
    text-decoration:none;
    color: black;
}
.hinhanhna{
    display: flex;
    justify-content: center;
    margin-left: 200px;
}
.h5{
    opacity: 0.5;
    margin-top: 20px;
    margin-left: 20px;
}
.pp{
    margin-top: 10px;
    line-height: 25px;
}
.buttonna{
    margin-top: 10px;
}
.hr{
    margin-top: 20px;  
}
.vietcmt{
    margin-top: 20px;
    font-size: 20px;
   
}
.khung{
    display: flex;
    opacity: 0.5;
    
}
.khung_1{
    margin-right: 20px;
   
}
.khung1{
  width: 500px;
  height: 40px;
  
}
.khung2{
    width: 500px;
    height: 40px;
    
}
.khunghai{
    width: 100%;
    height: 200px;
    margin-top: 30px;
    opacity: 0.5;
}
.div{
    padding: 10px;
    background-color: rgb(124, 212, 124);
    margin-top: 10px;
    display: inline-block;
    border-radius: 5px;
}
.div:hover{
    background-color: green;
    cursor: pointer;
}
.cmt{
    font-size: 17px;
    margin-top: 10px;
}
.n{
    opacity: 0.8;
}
.hinhanhcmt{
    width: 50px;
    height: 50px;
    border-radius: 1000px;
    display: inline-block;
    background-image: url(https://scontent-sin6-1.xx.fbcdn.net/v/t1.6435-9/68271874_503751997057527_4882070904248467456_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=174925&_nc_ohc=L1ke8vxuPE4AX8QMyqc&_nc_ht=scontent-sin6-1.xx&oh=00_AT_Ia-nFeWIW8my1PUxKHX9OVdOE1KV7PF7qw33ykCVfzg&oe=62FE11DF);
    background-repeat: no-repeat;
    background-size: contain;

}
.hinhanhcmt2{
    width: 50px;
    height: 50px;
    border-radius: 1000px;
    display: inline-block;
    background-image: url(https://kenh14cdn.com/thumb_w/660/203336854389633024/2022/4/28/20220322141738-1651118648724855658012.jpg);
    background-repeat: no-repeat;
    background-size: contain;

}
.hinhanhcmt1{
    width: 50px;
    height: 50px;
    border-radius: 1000px;
    display: inline-block;
    background-image: url(https://ss-images.saostar.vn/wp700/pc/1656001514465/saostar-n4l91pdmnke2tr1k.jpg);
    background-repeat: no-repeat;
    background-size: contain;

}
/* PHẦN CUỐI */

.contactend{
    width: 100%;
    height: 45vh;
   
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(130, 155, 179, 0.14902);
    color: black;
    
  }
  .hinhanhlink{
    text-decoration: none;
    
  }
  
  .chungcontentt{
    margin-bottom: 10px;
    justify-items: center;
    margin-left: 68px;
    width: 1500px;
    margin: auto;
  }
  
  .contactend_logooo{
    display: flex;
    left: 36%;
    
    
  }
  .tenminh{
    font-size: 80px;
    text-align: center;  
    position: absolute;
    left: 37%;
    color: black;
   
  }
  .logoo{
    position: relative;
    left: 0;
    font-size: 66px;
    left: 56%;   
  }
  .logooicon{
    text-align: center;
    margin-top: 8px;
    align-items: center;
  }
  .social{
    margin-right: 50px;
    font-size: 20px;
    color: black;
  
  }
  .social_facebook:hover{
    color:rgb(70, 115, 206);
    cursor: pointer;
  }
  .social_instragram:hover{
    color: #ca7316;
    cursor: pointer;
  }
  .social_youtube:hover{
    color: red;
    cursor: pointer;
  }
  
  .social_twitter:hover{
    color: #6da6f1;
    cursor: pointer;
  }
  .social_googleplus:hover{
    color: rgb(195, 44, 37);
    cursor: pointer;
  }
  .contactend_description{
    padding-top: 20px;
    display: flex;
    justify-content: space-evenly;
    width: 1500px;
    margin: auto;
  }
  .lienhe{
    line-height: 25px;
    font-weight: 300;
  }
  .lienhe_icon{
    display: flex;
  }
  .lienhe_noidungicon{
    
    word-wrap: break-word;
  }
  .lienhe_noidungicon:hover{
    cursor: pointer;
  }
  .lienhe_iconnn{
    margin-right: 10px;
  }
  .lienhe_dau{
    margin-top: 20px;
  }
  .slogan{
    background-color: rgb(15, 14, 14);
    text-align: center;
    color: rgb(246, 239, 239);
    padding-bottom: 10px;
    padding-top: 10px;
  }
  .lienhe_icons:hover{
   
    font-size: 18px;
    cursor: pointer;
    border-bottom: 1px solid rgb(35, 34, 34) ;
  }
  .lienhe_sdtt:hover{
    font-size: 18px;
    cursor: pointer;
    border-bottom: 1px solid rgb(35, 34, 34) ;
  }
  .lienhe_contactss:hover{
    font-size: 18px;
    cursor: pointer;
    border-bottom: 1px solid rgb(35, 34, 34)  ;
  }